<!DOCTYPE html>
<html>
<head>
<title>Gomoku</title>
<meta name="viewport" content="width = device-width, initial-scale = 1">
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


<style>

</style>

<script type="text/javascript">
$(document).ready(function(){

});

</script>
</head>

<body>
<h1>Test, Deletion needed</h1>
</body>
</html>
<!-- Steeng create at: Mon 28 Dec 2020 12:52:36 PM EST -->
